body{

background-color: #f4c2c2;

  main {

    .negative{
      color: aqua;
    }
    .zero{
      color:#50C878 ;
    }
    .betweenOneAndTen {
      color: red;
    
    }
    .betweenTenAndTwenty{
      color: orange;
    }
    .betweenTwentyAndThirty{
      color: yellow;
    }
    
  .nameButton{
 background-color: cyan;
  }
    
    }
}


